/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Normalize css for all webseat. Reset universal selector */
/* CSS Default Values Reference: https://www.w3schools.com/cssref/css_default_values.asp */
/* Reset start */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit; 
}

/* inhtml is place for root font-size use % for resizing page by user*/
html {
font-size: 62.5%;
}

/* Properties for font should be in body element, becouse font porpertis works with inheritant rule */
/* font downloaded from external sources google fonts (SDN link) in main html file */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    /* padding isn't ibherited */
    padding: 3rem;
    box-sizing: border-box; 

}
/* Reset end*/

/* Header */
.header {
    position: relative;
    height: 95vh;
    /* gradient in backgound-image  */
    background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 0.8), rgb(40, 180, 131, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    /* top stay the same, but other position cheagned */
    background-position: top;
    /* modder css clpi-path for setting which part of the image should be visible  */
    /* polygon(x y, x y, x y) specify directions for cornerrs of image where the point of this corrners should be */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
    /* position element on the left top corner: posotion: absolute or float? first use absolute */
    position: absolute;
/* were are reference of this position? from parrent, which is header. So we need to put position relative in class .header */
    top: 4rem;
    left: 4rem;
}

/* set size of the img */
.header__logo {
    height: 5.3rem;
/*width: will fit automaticly by browser  */
}
/* position box in the middle of the page with absolute positioning */
.header__text-box {
    position: absolute;
    /* relatet to parrent */
    top: 40%;
    left: 50%;
    /* relatet to element itself */
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: $default-font-size;
}

.heading-promary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 1rem;
}

.heading-promary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* 
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease;
     */
}
.heading-promary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation-name:  moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);

    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* sudo class for special condition of elements. Each elements have their own pseudo class. a has got link */
.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* add inline-block, if we want to add some width or padding */
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}
/* set element behind btn, btn el. is parrent of btn::after */
.btn::after {
    /* mast have content and display rule */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all 0.4s;

}
.btn--white::after {
    color: #fff;
}

.btn--white:hover::after {
    background-color: #fff;
    transform: scaleX(1.4) scaleY(1.6);
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn--animated {
    animation: moveInBottom 3s ease-out .75s;
    animation-fill-mode: backwards;
}