*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit; 
}

html {
    // font size is typographt too, but it is size used by rem in entire app, so it global definition what 1 rem is.
font-size: 62.5%;
}

body {
    box-sizing: border-box; 

}