// Color
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Shadow
$box-shadow-black: 0 1.5rem 4rem rgba($color-black, 0.15);

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;
