.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
        background-color: red;
        height: 50rem;
        color: white;
        font-size: 2rem ;
        transition: all .5s;
    }
// when we hover a card we want hover a side too
    &:hover &__side {
        transform: rotateY(180deg);
    }
    
}

